[Unit]
Description=Lan Mouse
# lan mouse needs an active graphical session
After=graphical-session.target
# make sure the service terminates with the graphical session
BindsTo=graphical-session.target

[Service]
Environment=RUST_LOG={{ lan_mouse_log_filter }}
ExecStart={{ lan_mouse_binary }} daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
